# Not currently implemented
---
- block:
  - name: manage_aix_lvm | resizing filesystem
    #https://docs.ansible.com/ansible/latest/modules/aix_filesystem_module.html#aix-filesystem-module
    aix_filesystem:
      filesystem: "{{ item.1.fsfilesystem }}"
      size: "{{ item.1.lvsize }}"
    become: true
    with_subelements:
      - "{{ vglist }}"
      - lvlist
    when: >
          (
            item.1.fsstate == 'mounted'
          and
            (
              ( item.1.fstype is defined and item.1.fstype == 'jfs2' )
              or
              item.1.fstype is not defined
            )
          )

  # - name: manage_aix_lvm | resizing swap
  #   shell: "swapoff -a && mkswap /dev/{{ item[0]['vgname'] }}/{{ item[1]['lvname'] }} && swapon -va"
  #   become: true
  #   with_subelements:
  #     - "{{ lvm_groups }}"
  #     - lvnames
  #   when: >
  #         lvm['changed'] and
  #         item[1]['filesystem'] is defined and
  #         item[1]['filesystem'] == "swap"